.FryPlayer {
	position: relative;
	overflow: hidden;
	background: #000;
	text-align: left;
}

video { width: 0; height: 0;}

.fp_watermark { position: absolute; top: 0; left: 0; z-index: 30; opacity: 1; }

/* dark skin */
.dark { box-shadow: 0 0 10px #666; -moz-box-shadow: 0 0 10px #666; -webkit-box-shadow: 0 0 10px #666; }
.dark .fp_nav, .dark .fp_play, .dark .fp_play:hover, .dark .fp_big_play, .dark .fp_pause, .dark .fp_pause:hover, .dark .fp_big_control:hover .fp_big_play,
.dark .fp_progressbar_left, .dark .fp_progressbar_right, .dark .fp_progressbar,
.dark .fp_current_time, .dark .fp_current_time.long, .dark .fp_volume_bg, .dark .fp_sound_control,
.dark .enterFullscreen, .dark .exitFullscreen, .dark .fp_muteOn, .dark .fp_muteOff, .dark .fp_about
{ background-image: url(../images/fryplayer_dark_sprite.png); }
.dark .fp_big_control { background: rgba(0,0,0,.3); }
.dark .fp_big_control:hover { background: rgba(0,0,0,.2); }
.dark .fp_progress { background: rgba(255,255,255, 0.5); }
.dark .fp_current_time { color: #ccc; }
.dark .fp_time { color: #b7b7b7; text-shadow: 1px 1px #000; }
.dark .fp_about { color: #aaa; text-shadow: 1px 1px #000; }


/* light skin */
.light { box-shadow: 0 0 10px #999; -moz-box-shadow: 0 0 10px #999; -webkit-box-shadow: 0 0 10px #999; }
.light .fp_nav, .light .fp_play, .light .fp_play:hover, .light .fp_big_play, .light .fp_pause, .light .fp_pause:hover, .light .fp_big_control:hover .fp_big_play, .light .fp_progressbar_left, .light .fp_progressbar_right, .light .fp_progressbar,
.light .fp_current_time, .light .fp_current_time.long, .light .fp_volume_bg, .light .fp_sound_control,
.light .enterFullscreen, .light .exitFullscreen, .light .fp_muteOn, .light .fp_muteOff, .light .fp_about
{ background-image: url(../images/fryplayer_light_sprite.png); }
.light .fp_big_control { background: rgba(255,255,255,.5); }
.light .fp_big_control:hover { background: rgba(255,255,255,.6); }
.light .fp_progress { background: rgba(0,0,0, 0.5); }
.light .fp_current_time { color: #999; }
.light .fp_time { color: #999; text-shadow: 1px 1px #fff; }
.light .fp_about { color: #666; text-shadow: 1px 1px #fff; }


.fp_nav {
	position: absolute;
	left: 0;
	bottom: 0px;
	z-index: 5000;
	height: 34px;
	background-position: 0 0;
	background-repeat: repeat-x;
	font-family: Arial, Verdana, Tahoma, sans-serif;
}

.fp_control {
	float: left;
	cursor: pointer;
}

	.fp_play {
		width: 22px;
		height: 15px;
		margin: 10px 10px 0;
		background-position: 0 -36px;
		background-repeat: no-repeat;
	}
	.fp_play:hover { background-position: 0 -54px; }
	
		.fp_big_control {
			position: absolute;
			top: 0;
			left: 0;
			cursor: pointer;
			z-index: 40; /* TUKA PIPAMMMM */
		}
		
		.fp_big_play {
			position: absolute;
			width: 78px;
			height: 78px;
			background-position: 0 -132px;
			background-repeat: no-repeat;
		}
		
		.fp_big_control:hover .fp_big_play { background-position: -80px -132px;	}
	
	.fp_pause {
		width: 22px;
		height: 15px;
		margin: 10px 10px 0;
		background-position: -24px -36px;
		background-repeat: no-repeat;
	}
	.fp_pause:hover { background-position: -24px -54px; }

	.fp_progressbar_holder {
		position: relative;
		height: 17px;
		margin: 9px 0 0 0;
	}
	
	.fp_progressbar_left {
		float: left;
		width: 2px;
		height: 17px;
		background-position: -70px -36px;
		background-repeat: no-repeat;
	}
	
	.fp_progressbar_right {
		float: left;
		width: 2px;
		height: 17px;
		background-position: -74px -36px;
		background-repeat: no-repeat;
	}
	
	.fp_progressbar {
		float: left;
		position:relative;
		height: 13px;
		padding: 2px 0;
		background-position: 0 -70px;
		background-repeat: repeat-x;
	}
	
	.fp_progress { 
		float: left;
		width: 0px;
		height: 13px;
	}
	
	.fp_bufferbar { position:absolute;top:2px;left:0;display:block;z-index:-1;}
	.fp_buffer_progress { display:block;background:#555;height:13px;width:0; }
	
	.fp_current_time {
		position: absolute;
		top: -25px;
		opacity: 0;
		width: 43px;
		height: 21px;
		line-height: 16px;
		text-align: center;
		padding: 0;
		font-size: 11px;
		background-position: -78px -36px;
		background-repeat: no-repeat;
	}
	
	.fp_current_time.long {
		width: 49px;
		padding: 0 0 0 1px;
		background-position: -122px -36px;
		background-repeat: no-repeat;
	}
	
	.fp_time {
		opacity:0;
		height: 15px;
		line-height: 14px;
		margin: 10px 8px 0;
		font-size: 13px;
		cursor: default;
		width:120px;
	}

	.fp_end_time:before {
		content: '/';
		padding: 0 4px;
	}
	
	.fp_volume {
		float: right;
		width: 60px;
		height: 13px;
		margin: 11px 6px 0;
	}
	
	.fp_volume_bg {
		display: block;
		background-position: 0 -104px;
		background-repeat: repeat-x;
	}
	
	.fp_volume .fp_sound_control {
		display: block;
		width: 0;
		height: 13px;
		background-position: 0 -118px;
		background-repeat: repeat-x;
	}
	
	.fp_nav .enterFullscreen, .fp_nav .exitFullscreen {
		float: right;
		width: 15px;
		height: 15px;
		margin: 10px 10px 0 10px;
	}
	
	.enterFullscreen, .exitFullscreen:hover { background-position: -15px -88px; background-repeat: no-repeat; }
	.exitFullscreen, .enterFullscreen:hover { background-position: 0 -88px; background-repeat: no-repeat; }
	
	.fp_nav .fp_muteOn, .fp_nav .fp_muteOff { float: right; width: 20px; height: 15px; margin: 10px 0 0; }
		
	.fp_nav .fp_muteOn {
		background-position: -48px -36px;
		background-repeat: no-repeat;
	}
	
	.fp_nav .fp_muteOff {
		background-position: -48px -54px;
		background-repeat: no-repeat;
	}
	
.fp_about {
	position: absolute;
	left:0;
	top: -34px;
	z-index: 9999;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 11px;
	font-family: Arial, Verdana, Tahoma, sans-serif;
	background-image: url(../images/fryplayer_dark_sprite.png);
	background-position: 0 0;
	background-repeat: repeat-x;
}

.fp_about:hover {
	text-decoration: none;
}
