h1{
    margin-bottom: 0px;
}
th{
    font-weight: bold;
    background: #EBEBEB;
}
th,td{
    text-align: center;
    padding: 5px;
    border:1px solid #E0E0E0;
}
td.title{
   text-align: right;
}
td.input{
   text-align: left;
}
td{
    background: #fdfdfd;
}
.form{
    padding: 5px 0 0 30px;
}
.formButton{
    padding:15px 0 0 30px;
}
#title{
    display: block;
}
#newButton{
    display:block;
    height:25px;
    margin:5px 0;
    text-align:right;
    width:55px;
}
.clear{
    clear:both;
}
a.block{
    display:block;
    margin:0 5px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}