#pagelist{
    margin: 10px 0;
    text-align: center;
}
.pagecurrent{
    padding:3px;background:#000000;color:#fff;border:1px solid #999;font-size:12px;font-weight:bold;font-family:tahoma;
}
.pagelink{
    padding:3px;background:#000000;color:#fff;border:1px solid #999;font-size:12px;font-weight:bold;font-family:tahoma;
}
.pagelinklast{
    padding:3px;background:#000000;color:#fff;border:1px solid #999;font-size:12px;font-weight:bold;font-family:tahoma;
}
.pagelink a,.pagelinklast a{
    color:#999;
}
.pagelink a.current{
    color:#fff;
}