.formError {
    position:absolute;
    top:300px; left:300px;
    width:150px;
    padding-bottom:15px;
    display:block;
    z-index:5000;
}
.formError .formErrorContent {
    width:100%;
    background:#000;
    color:#fff;
    font-family:tahoma;
    font-size:10px;
    box-shadow: 1px 1px 6px #000;
    -moz-box-shadow: 1px 1px 6px #000;
    -webkit-box-shadow: 1px 1px 6px #000;
    padding:4px 10px 4px 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.formError .formErrorArrow{
    position:absolute;
    bottom:0;left:20px;
    width:15px; height:15px;

}
.formError .formErrorArrow div{
    box-shadow: 1px 4px 5px #000;
    -moz-box-shadow: 1px 4px 5px #000;
    -webkit-box-shadow: 1px 1px 5px #000;
    font-size:0px;

}
.formError .formErrorArrow .line10{width:15px;height:1px; background:#000;margin:0 auto; font-size:0px; display:block;} 
.formError .formErrorArrow .line9{width:13px;height:1px; background:#000;margin:0 auto;display:block;} 
.formError .formErrorArrow .line8{width:11px;height:1px; background:#000;margin:0 auto;display:block;} 
.formError .formErrorArrow .line7{width:9px;height:1px; background:#000;margin:0 auto;display:block;} 
.formError .formErrorArrow .line6{width:7px;height:1px; background:#000;margin:0 auto;display:block;} 
.formError .formErrorArrow .line5{width:5px;height:1px; background:#000;margin:0 auto;display:block;} 
.formError .formErrorArrow .line4{width:3px;height:1px; background:#000;margin:0 auto;display:block;} 
.formError .formErrorArrow .line3{width:1px;height:1px; background:#000;margin:0 auto;display:block;} 